* {
	box-sizing: border-box
}

html, body {
	width:  100%;
	height: 100%;
	margin: 0;
	padding: 5%;
	background: var(--grey);
}
#app {
	width: 100%;
	height: 100%;
}

:root {
	--red: red;
	--green: green;
	--black: black;
	--grey: #ccc;
	--orange: orange;
	--white: white;
}

:root[dark-theme] {
	--white: black;
	--grey: #333;
}
